* {
    box-sizing: border-box;
}

:root {
    --primary-color: #1ebfc1;
    --secondary-color: #2ac9bf;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

html,
body {
    scroll-behavior: smooth;
}

/* Common */
.main-content {
    width: 1170px;
    margin: 0 auto;
    max-width: calc(100% - 24px);
}

.btn {
    display: inline-block;
    text-align: center;
    width: 186px;
    height: 68px;
    line-height: 68px;
}

.btn.btn-get-started {
    color: #fff;
    background: var(--primary-color);
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.05);
    border-radius: 14px;
}

a {
    text-decoration: none;
}

a:hover,
button:hover {
    opacity: 0.8;
}

.heading {
    font-weight: 700;
    color: #0d1111;
}

.heading.lv1 {
    font-size: 6.2rem;
    line-height: 1.16;
}

.heading.lv2 {
    font-size: 4.2rem;
    line-height: 1.33;
}

.heading.lv3 {
    font-size: 22px;
    line-height: 1.5;
}

.title {
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.5;
    color: #767e7e;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--cline-clamp, 2);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* Header */
.header {
    background: #fff;
}

.header.fixed {
    position: sticky;
    top: -44px;
    z-index: 1;
}

.header .body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 52px 0 8px;
}

.header .nav ul {
    display: flex;
}

.header .nav a {
    display: inline-block;
    padding: 8px 21px;
    font-size: 1.6rem;
    line-height: 1.5;
    color: #2f3a3b;
}

.header .nav a:hover,
.header .nav .active {
    text-shadow: 1px 0 0 currentColor;
    color: #2f3a3b;
}

.header .btn-sign-in {
    width: auto;
    height: auto;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.5;
    color: #494949;
}

.header .btn-sign-up {
    margin-left: 24px;
    width: 108px;
    height: 48px;
    border: 1px solid #1ebfc1;
    border-radius: 6px;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 48px;
    color: #1ebfc1;
}

/* Hero */
.hero {
    margin-top: 50px;
    padding-bottom: 79px;
}

.hero .body {
    display: flex;
}

/* Content Block */
.hero .content-block {
    margin-top: 93px;
    width: 458px;
}

.content-block .heading.lv1 {
    margin-top: 18px;
}

.content-block span {
    font-size: 1.4rem;
    line-height: 1.5;
    color: #767e7e;
}

.content-block .desc {
    margin-top: 46px;
    width: 374px;
    font-size: 1.8rem;
    line-height: 1.78;
    color: #9da6a5;
}

.content-block .cta-group {
    display: flex;
    align-items: center;
    margin-top: 52px;
}

.content-block .watch-video {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    width: 62px;
    height: 62px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background: #ffffff;
    box-shadow: 0px 22px 50px rgba(0, 0, 0, 0.05);
}

/* Media Block */
.hero .media-block {
    position: relative;
    margin-left: 136px;
}

.media-block img {
    width: 576px;
    height: 631px;
}

.media-block .media-courses {
    position: absolute;
    display: flex;
    width: 157px;
    height: 75px;
    background: #fefefd;
    box-shadow: 0px 10px 80px rgba(0, 0, 0, 0.05);
    border-radius: 18px;
    top: 149px;
    left: -40px;
}

.media-courses .book-icon {
    position: relative;
    margin: 17px 16px 0 25px;
    width: 36px;
    height: 40px;
    border-radius: 4px 2px 2px 4px;
    background: #ff8282;
}

.media-courses .book-icon::before {
    display: inline-block;
    position: absolute;
    content: "";
    width: 28px;
    height: 4px;
    background: #fff;
    border-radius: 4px;
    left: 4px;
    bottom: 8px;
}

.media-courses .course {
    margin-top: 22px;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5;
    color: #0d1111;
}

.media-block .media-schedules {
    position: absolute;
    width: 124px;
    height: 132px;
    text-align: center;
    background: #ffffff;
    box-shadow: 0px 10px 80px rgba(0, 0, 0, 0.05);
    border-radius: 24px;
    bottom: 46px;
    left: -65px;
}

.media-schedules .schedule {
    display: block;
    padding-top: 16px;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5;
    color: #0d1111;
}

.media-schedules img {
    width: 76px;
    height: 6px;
}

.media-schedules .img:nth-child(2) {
    margin-top: 16px;
}

.media-schedules .img:nth-child(3) {
    margin-top: 12px;
}

.media-schedules .img:nth-child(4) {
    margin-top: 10px;
}

.media-schedules .img:nth-child(5) {
    margin-top: 16px;
}

.media-block .our-students {
    position: absolute;
    width: 207px;
    height: 90px;
    background: #fefefd;
    box-shadow: 0px 12px 80px rgba(0, 0, 0, 0.05);
    border-radius: 24px;
    bottom: 41px;
    right: 45px;
}

.our-students span {
    display: block;
    margin: 17px 0 8px 35px;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5;
    color: #0d1111;
}

.our-students .avatar-group {
    display: flex;
    margin-left: 35px;
}

.avatar-group .avatar {
    width: 33px;
    height: 33px;
    border-radius: 50%;
    margin-left: -5px;
}

.avatar-group .avatar:first-child {
    margin-left: 0;
}

.avatar-group .avatar:last-child {
    font-size: 1rem;
    line-height: 33px;
    text-align: center;
    color: #ffffff;
    background: var(--primary-color);
}

/* Features */
.features {
    margin-top: 130px;
    scroll-margin-top: 90px;
}

.features .heading.lv2 {
    margin-top: 18px;
    width: 577px;
}

.features .desc {
    margin-top: 18px;
    width: 590px;
    font-size: 1.8rem;
    line-height: 1.5;
    color: #767e7e;
}

.features .list {
    margin-top: 80px;
    display: flex;
}

.features .list .item {
    margin-right: 209px;
}

.features .list .item .live,
.features .list .item .discuss,
.features .list .item .task {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 102px;
    height: 106px;
    background: #ffc147;
    border-radius: 18px;
}

.features .list .item .discuss {
    background: #ff947a;
}

.features .list .item .task {
    background: #bf83ff;
}

.features .list .item h4 {
    margin-top: 26px;
    font-weight: 600;
    font-size: 2rem;
    line-height: 1.5;
    color: #0d1111;
}

.features .list .item .desc {
    font-size: 1.6rem;
    line-height: 1.69;
}

.features .list .item .desc {
    margin-top: 16px;
    width: 223px;
}

.features .list .item:first-child .desc {
    width: 168px;
}

/* Courses */
.courses {
    margin-top: 130px;
    scroll-margin-top: 90px;
}

.courses .heading.lv2 {
    margin-top: 18px;
    line-height: 1.5;
}

.courses .row {
    margin-top: 19px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.courses .row .desc {
    width: 525px;
    font-size: 1.8rem;
    line-height: 1.78;
    color: #767e7e;
}

.courses .row .view-link {
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.5;
    text-decoration-line: underline;
    color: var(--primary-color);
}
.courses .list {
    margin-top: 79px;
    display: flex;
    gap: 47px;
}

.courses .list .item {
    position: relative;
    width: calc(33.33333% - 31.33333px);
}

.courses .item .thumb {
    width: 100%;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border-radius: 8px;
}

.courses .item .thumb img {
    width: calc(100% + 2px);
    margin: -1px;
    height: 393px;
    object-fit: cover;
    transition: all 0.4s;
    display: block;
    transform: scale(1);
}

.courses .item .thumb::after {
    position: absolute;
    display: inline-block;
    content: "";
    inset: 0;
    opacity: 0.35;
    background: #d0efed;
    transition: all 0.4s;
    border-radius: 8px;
}

.courses .list .item:hover .thumb::after {
    opacity: 0;
}

.courses .list .item:hover .thumb img {
    transform: scale(1.2);
}

.courses .info {
    position: absolute;
    width: 325px;
    height: 195px;
    background: #ffffff;
    box-shadow: 0px 16px 90px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    left: 17px;
    bottom: -124px;
}

.courses .info .info-body {
    margin: 18px 0 29px 25px;
}

.courses .info .price {
    display: block;
    margin-top: 16px;
    font-size: 1.6rem;
    line-height: 1.5;
    color: #767e7e;
}

.courses .info em {
    font-size: 2.2rem;
    font-weight: 700;
    color: #0d1111;
}

.courses .info .desc,
.courses .info-foot span {
    margin-top: 6px;
    font-size: 1.4rem;
    line-height: 1.5;
    color: #9da6a5;
}

.courses .info-foot {
    margin-top: 18px;
}

.courses .info-foot span {
    position: relative;
    padding-left: 16px;
    margin-right: 10px;
}

.courses .info-foot span::after {
    position: absolute;
    display: inline-block;
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: var(--primary-color);
    left: 0;
    top: 7px;
}

/* Stats */
.stats {
    margin-top: 389px;
}

.stats .body {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 202px;
}

.stats h2 {
    font-weight: 700;
    font-size: 6.2rem;
    line-height: 1.5;
    color: #0d1111;
    margin-bottom: 11px;
}

.stats span {
    font-size: 1.8rem;
    line-height: 1.5;
    text-align: center;
    color: #767e7e;
}

/* Feed Back */
.feedback {
    margin-top: 264px;
    scroll-margin-top: 90px;
}

.feedback .body {
    display: flex;
}

.feedback .info {
    width: 419px;
}

.feedback .info .open-quotes {
    margin-top: 37px;
}

.feedback .info .desc {
    margin-top: 27px;
    font-size: 3.2rem;
    line-height: 1.5;
    color: #5d6564;
}

.feedback .name {
    margin-top: 33px;
    font-size: 1.6rem;
    line-height: 1.5;
    color: #767e7e;
}

.feedback .name em {
    position: relative;
    padding-left: 13px;
    font-weight: 500;
    color: #070707;
}

.feedback .name em::before {
    position: absolute;
    display: inline-block;
    content: "";
    width: 8px;
    height: 2px;
    background: currentColor;
    left: 0;
    top: 10px;
}

.feedback .pages {
    margin-top: 52px;
}

.feedback .pages .prev-page,
.feedback .pages .next-page {
    width: 50px;
    height: 50px;
    line-height: 56px;
    border-radius: 50%;
    margin-right: 30px;
    border: none;
    padding: 0;
    background: var(--secondary-color);
    cursor: pointer;
}

.feedback .typical {
    width: 679px;
    margin-left: 72px;
}

.typical img {
    width: 100%;
}

/* Register */
.register {
    margin-top: 130px;
    padding: 76px 0 88px;
    background: #def6f5;
}

.register .body {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.register .info .heading.lv2 {
    line-height: 1.5;
}

.register .info .desc {
    margin-top: 18px;
    font-size: 1.8rem;
    line-height: 1.5;
    color: #767e7e;
}

.register .cta .btn.btn-get-started {
    background: var(--secondary-color);
    box-shadow: none;
}

/* Footer */
.footer {
    padding: 130px 0 50px;
}

.footer .list {
    display: flex;
    justify-content: space-between;
}

.footer .list h4 {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.5;
    color: #2e2e2e;
}

.footer .item:last-child li {
    display: flex;
    align-items: center;
}

.footer .list ul {
    margin-top: 25px;
}

.footer .list ul li {
    margin-top: 20px;
}

.footer .list a {
    font-size: 1.6rem;
    line-height: 1.5;
    color: #535353;
}

.footer .list .icon {
    display: inline-block;
    margin-right: 9px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 50%;
    background: #ffffff;
}

.footer .copyright p {
    margin-top: 80px;
    text-align: center;
    font-size: 1.8rem;
    line-height: 1.5;
    color: #b0b5b4;
}
